body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.button-container {
  position: absolute;
  top: 60%; /* 中央より下 */
  display: flex;
  gap: 90px;
}
 
.btntoukou,
.btnback12 {
  padding: 10px 45px;
  font-size: 30px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
 
}
 
.btntoukou {
  background-color: #4FC3F7;
  color: white;
}
 
.btnback12 {
  background-color: #4FC3F7;
  color: white;
}
h1 {
  text-align: center;
  margin-top: 200px; /* 上からの余白も調整 */
  font-size: 85px;
}
 