body{

    text-align:center;

    font-family:sans-serif;

    display:grid;

    place-items:center;

    height:100vh;

    background:#87cefa;

}

div{

    background:fff;

    padding:2rem;

    border-radius:1rem;

    width:12.5rem;

    box-shadow:0 0 1rem rbba(0,0,0,.5);

}
