th{
    font-size:25px;
}
 
.return-btn {
    position: fixed;
    top: 18px;
    right: 18px;
    z-index: 2000;
}
 
/* タイトルフォント（rem指定可） */
.vote-title {
    font-size: 2rem;
    font-weight: 700; /* ← 数値指定OK（100～900）*/
}
 
/* 作成者・期間スタイル */
.creator-text,
.vote-period {
    font-size: 1rem;
    font-weight: 500; /* ← お好きな数字に変更可能 */
}
 
/* 作成者と期間の間隔 */
.gap-3 {
    gap: 1.2rem; /* 調整可能 */
}
.sp-only {
    display: none;
}
@media (max-width: 576px) {
.sp-only {
    display: inline;
}
.vote-title {
    font-size: 100px;
    font-weight: 500; /* ← 数値指定OK（100～900）*/
}
.creator-text{
    font-size: 0.9rem;
    font-weight: 300; /* ← お好きな数字に変更可能 */
    }  
.vote-period {
    font-size: 50px;
    font-weight: 300; /* ← お好きな数字に変更可能 */
}
}
